*.jpg filter=lfs diff=lfs merge=lfs -text

# Escludi tutto dal conteggio linguaggi
* linguist-detectable=false

# Riabilita SOLO i file del simulatore physics
docs/physics/**/*.html linguist-detectable=true
docs/physics/**/*.css  linguist-detectable=true
docs/physics/**/*.js   linguist-detectable=true

# Forza i linguaggi
docs/physics/**/*.html linguist-language=HTML
docs/physics/**/*.css  linguist-language=CSS
docs/physics/**/*.js   linguist-language=JavaScript

# Escludi Python
docs/physics/**/*.py linguist-detectable=false